@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-card {
    animation: fadeInUp 1s ease-out;
}

.project-card:hover h3 {
    color: #ffed4a; /* Hover color change for project title */
    transition: color 0.3s;
}

html {
    scroll-behavior: smooth;
}

